.htr{
    padding-left: 100px;
    display: flex;
    padding-top: 50px;
   
}
.our_two_box {box-shadow: #ddd 0px 0px 10px 0px; margin-bottom: 50px; margin-right: 150px;margin-left: 30px;margin-top: 30px;}
.ase{
    padding-left: 50px;
}
.gtr{
    font-family: 'Suranna', serif;
}
.htrr{
    padding-left: 100px;
    display: flex;
    padding-top: 50px;
   
}
.our_two_boxx {box-shadow: #ddd 0px 0px 10px 0px; margin-bottom: 50px; margin-right: 150px;margin-left: 30px;margin-top: 30px;}
.asee{
    margin-right: 80px;
    padding-left: 150px;
}
