#ye1{
    padding-left: 600px;
    
}
.ye2{
    color: aliceblue;
    background-color: black;
    padding-bottom: 15px;
}
.ye3{
margin-left: 40px;
}
.fab{
    margin: 2px;
}
.ye4{
    padding-left: 90px;
}
.ye5{
    padding-left: 5%;
}
#id131 {
    padding-right: 50px;
    font-size: 50px;
    color: #EFA52C;
    font-family: "Brush Script MT", cursive;

  }
  #id232{
    padding-right: 40px;
  }